<div class="card">
    <div class="container-fluid">
        <div class="row mb-3 mt-3">
            <div class="col-md-4 text-end">
                <input type="search" [formControl]="searchValue" class="form-control" placeholder="Search employee...">
            </div>

            <div class="col-md-8 text-end">
                <button type="button" class="btn btn-sm btn-success" (click)="toggleAddEmployeeForm()">Add
                    Employee</button>
            </div>
        </div>

        <div class="row">
            <div [ngClass]="isAddEmployee ? 'col-md-8' : 'col-md-12'">
                <div [ngClass]="isAddEmployee?'card':''">
                    <div [ngClass]="isAddEmployee?'container p-5':''">
                        <table class="table table-bordered table-striped  table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="employeeList.length > 0">
                                    <tr *ngFor="let employee of employeeList; let i = index" >
                                        <td>{{ employee.firstName+' ' +employee.lastName }}</td>
                                        <td>{{ employee.email }}</td>
                                        <td>{{ employee.phone }}</td>
                                        <td>
                                            <img [src]="employee.image[0]" alt="" srcset="" width="50px" height="50px"
                                                class="rounded">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                (click)="editEmployee(i)">Edit</button>
                                            <button type="button" class="btn btn-sm btn-danger ms-2"
                                                (click)="deleteEmployee(i)">Delete</button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        @if (employeeList.length==0) {
                        <div class="text-center mt-2 mb-2">
                            <h4>No Record Found....</h4>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <ng-container *ngIf="isAddEmployee">
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="container p-5">
                            <form action="" [formGroup]="employeeForm" (ngSubmit)="submitForm()">
                                <div class="row">
                                    <h4 class="text-center">{{!isEditEmployee? 'Add Employee':'Edit Employee'}}</h4>
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control mb-2" placeholder="First Name"
                                        formControlName="firstName">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control mb-2" placeholder="Last Name"
                                        formControlName="lastName">
                                </div>
                                <div class="row">
                                    <input type="email" class="form-control mb-2" placeholder="Email"
                                        formControlName="email">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control mb-2" placeholder="Phone"
                                        formControlName="phone">
                                </div>

                                <div class="row">
                                    <!-- File Input Section -->

                                    <input type="file" class="form-control mb-2" (change)="onFileSelected($event)"
                                        multiple #fileInput>

                                    <!-- Image Preview Section -->
                                    <div class="row mt-3 text-end" *ngIf="imagePreviewList.length">
                                        <div class="col-auto position-relative me-2 mb-2"
                                            *ngFor="let img of imagePreviewList; let i = index">
                                            <img [src]="img" class="img-thumbnail" width="100" height="100"
                                                alt="Preview" style="object-fit: cover;">

                                            <!-- Remove Icon -->
                                            <button type="button" (click)="removeImage(i)"
                                                class="btn btn-sm btn-danger position-absolute top-0 end-0 translate-middle p-1"
                                                style="border-radius: 50%; z-index: 10;">
                                                &minus;
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <div>
                                        <button type="submit"
                                            class="btn  btn-md btn-success">{{!isEditEmployee?'Add':'Edit'}}</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-md btn-danger"
                                            (click)="resetForm()">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>